#addGoods {
    width: 50%;
    height: 80%;
    position: relative;
    top: 20%;
    margin: 0 auto;
    border: 1px solid black;
}

.input {
    position: relative;
    margin-top: 80px;
    left: 140px;
}